header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #030645;
    color: #ffffff;
    padding: 15px 0;
    margin-bottom: 30px;
}
header h1{
    font-size: 30px;
}
